*
{
    font-family: Fjalla One;
    letter-spacing: 3px;
}


.quiz-container {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='800' preserveAspectRatio='none' viewBox='0 0 1440 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1142%26quot%3b)' fill='none'%3e%3crect width='1440' height='800' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M1039 390L1038 743' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1143%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1423 777L1422 282' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1144%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M820 584L819 1033' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1144%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M670 287L669 -47' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1144%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M621 448L620 962' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1143%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M817 659L816 1021' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1143%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M816 565L815 951' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1144%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1387 648L1386 423' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1143%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M481 518L480 -16' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1144%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1230 573L1229 327' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1144%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M760 285L759 -263' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1144%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1369 262L1368 -176' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1144%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M264 33L263 344' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1144%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M575 240L574 712' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1144%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M323 186L322 686' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1144%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M703 597L702 1137' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1144%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M90 544L89 291' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1144%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M909 304L908 734' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1144%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M351 511L350 715' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1144%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M255 612L254 895' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1144%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M728 736L727 283' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1144%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M104 739L103 517' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1144%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M778 228L777 -71' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1143%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M687 94L686 690' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1144%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M999 788L998 1038' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1144%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M746 257L745 10' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1143%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M672 711L671 1163' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1143%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1227 589L1226 52' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1144%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M428 516L427 979' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1143%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M867 165L866 385' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1143%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1313 172L1312 -166' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1143%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M858 429L857 163' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1143%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M454 643L453 141' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1144%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1408 183L1407 619' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1144%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M808 291L807 -18' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1143%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M643 2L642 510' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1144%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1142'%3e%3crect width='1440' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1143'%3e%3cstop stop-color='rgba(43%2c 43%2c 43%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(43%2c 43%2c 43%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1144'%3e%3cstop stop-color='rgba(43%2c 43%2c 43%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(43%2c 43%2c 43%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    height: 770px;
    justify-content: center;
    align-items: center;
}

.start-container,
.results-container-easy,
.results-container-hard {
    margin-top: 18%;
}

.easy-quiz-container {
    margin-top: 10%;
}

.hard-quiz-container {
    margin-top: 18%;
}

.title,
.display-name,
.display-name-hard-quiz,
.exit-easy-quiz,
.exit-hard-quiz,
.question,
.question-2,
.quiz-number,
.quiz-number-2
{
    color: white;
}

.quiz-number,
.quiz-number-2
{
    margin-bottom: 50px;
}

.next-btn,
.next-btn-2,
.give-up-btn,
.back-btn,
.submit-btn,
.submit-btn-2,
.easy-quiz-container,
.hard-quiz-container,
.results-container-easy,
.results-container-hard{
    display: none;
}

.user-name, 
.user-answer,
.user-answer-hard
{
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    margin-top: 10px;
    margin-bottom: 35px;
    text-align: center;
    font-size: 18px;
}

.user-name:focus,
.user-answer:focus,
.user-answer-hard:focus
{
    outline: none;
}

/* .text {
    margin-top: 40px;
    color: white;
} */

.user-name, 
.user-answer,
.user-answer-hard,
.start-easy-quiz-btn,
.start-hard-quiz-btn,
.check-btn,
.next-btn,
.next-btn-2,
.restart-btn,
.give-up-btn,
.hint-btn,
.back-btn,
.submit-btn,
.submit-btn-2
{
    padding: 6px 0;
    width: 200px;
}

.start-easy-quiz-btn,
.start-hard-quiz-btn,
.check-btn,
.next-btn,
.next-btn-2,
.give-up-btn
{
    box-shadow: inset 0 0 0 0 rgb(138, 0, 0);
    transition: ease-in 0.2s;
    border: none;
    font-family: oswald;
    border-radius: 100px;
    /* font-weight: bolder; */
}

.submit-btn,
.submit-btn-2
{
    margin-top: 15%;
    box-shadow: inset 0 0 0 0 green;
    transition: ease-in 0.2s;
    border: none;
    font-family: Yanone Kaffeesatz;
    border-radius: 100px;
}

.restart-btn {
    margin-top: 30px;
    box-shadow: inset 0 0 0 0 green;
    transition: ease-in 0.2s;
    border: none;
    font-family: Yanone Kaffeesatz;
    border-radius: 100px;
}


.start-easy-quiz-btn:hover,
.start-hard-quiz-btn:hover,
.check-btn:hover,
.next-btn:hover,
.next-btn-2:hover,
.restart-btn:hover,
.give-up-btn:hover,
.back-btn:hover
{
    color: white;
    box-shadow: inset 200px 0 0 0 rgb(138, 0, 0);
}

.submit-btn:hover,
.submit-btn-2:hover,
.restart-btn:hover
{
    color: white;
    box-shadow: inset 200px 0 0 0 green;
}

.hint-btn {
    box-shadow: inset 0 0 0 0 yellow;
    transition: ease-in 0.2s;
    border: none;
    font-family: Yanone Kaffeesatz;
    border-radius: 100px;
}

.hint-btn:hover {
    color: black;
    box-shadow: inset 200px 0 0 0 yellow;
}

.start-easy-quiz-btn:focus,
.start-hard-quiz-btn:focus,
.check-btn:focus,
.next-btn:focus,
.next-btn-2:focus,
.restart-btn:focus,
.give-up-btn:focus,
.back-btn:focus,
.submit-btn:focus,
.submit-btn-2:focus
{
    box-shadow: inset 200px 0 0 0 rgb(138, 0, 0);
    outline: none;
    color: white;
}

.title,
.next-btn-2,
.submit-btn-2
{
    margin-bottom: 60px;
}
 
.question,
.quesiton-2 {
    margin-bottom: 5px;
}

.hint {
    transition: 0.5s opacity;
    color: white;
    margin-top: 15px;
}

.required-name,
.required-answer {
    font-size: 15px;
    font-family: oswald;
}

.exit-easy-quiz,
.exit-hard-quix
{
    font-size: 25px;
    transition: color 0.3s ease;
}

.exit-easy-quiz:hover,
.exit-hard-quiz:hover
{
    cursor: pointer;
    color: red;
}

.quiz-description {
    opacity: 0;
    transition: 0.5s opacity;
    /* font-weight: lighter; */
    color: white;
    font-family: oswald;
}

.num-of-questions {
    font-weight: lighter;
    color: white;
}

.result-text, 
.result-text-hard,
.final-score
{
    color: white;
}

.results-easy-quiz {
    font-size: 50px;
}