*
{
    font-family: Yanone Kaffeesatz;
    letter-spacing: 3px;
}


.quiz-container {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1400' height='770' preserveAspectRatio='none' viewBox='0 0 1400 750'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1124%26quot%3b)' fill='none'%3e%3crect width='1400' height='770' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1125%26quot%3b)'%3e%3c/rect%3e%3cpath d='M781 147L1304 670' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1126%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M914 406L446 -62' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1127%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M978 406L1300 728' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1126%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M394 330L37 -27' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1127%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M281 739L560 1018' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1127%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1076 433L703 60' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1127%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M748 498L1254 1004' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1127%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1152 654L1544 1046' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1127%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M80 264L300 484' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1126%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M695 1L264 -430' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1127%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M751 238L223 -290' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1126%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1277 391L731 -155' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1127%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M332 625L-108 185' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1127%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M158 714L-294 262' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1126%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M739 270L457 -12' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1126%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M168 160L-43 -51' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1126%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1132 273L1630 771' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1126%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M401 706L-67 238' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1127%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M281 63L-187 -405' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1127%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M515 466L39 -10' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1126%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M37 288L-179 72' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1127%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1090 451L705 66' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1127%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M278 366L-87 1' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1127%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M330 328L529 527' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1127%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M795 385L1200 790' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1126%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M467 531L38 102' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1126%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M599 653L246 300' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1127%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1111 442L739 70' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1126%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M313 309L687 683' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1127%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M521 18L120 -383' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1127%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1120 433L1524 837' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1126%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M216 312L-233 -137' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1127%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1092 566L591 65' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1126%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M881 636L1269 1024' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1126%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M662 642L911 891' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1127%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1163 310L1439 586' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1126%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M831 204L1035 408' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1126%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1069 289L852 72' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1127%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M396 104L-132 -424' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1126%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1159 618L711 170' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1126%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1124'%3e%3crect width='1400' height='770' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='11.61%25' y1='-21.67%25' x2='88.39%25' y2='121.67%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1125'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1126'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='100%25' id='SvgjsLinearGradient1127'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    height: 770px;
    justify-content: center;
    align-items: center;
}

.start-container,
.results-container-easy,
.results-container-hard {
    margin-top: 18%;
}

.easy-quiz-container {
    margin-top: 10%;
}

.hard-quiz-container {
    margin-top: 18%;
}

.title,
.display-name,
.display-name-hard-quiz,
.exit-easy-quiz,
.exit-hard-quiz,
.question,
.question-2,
.quiz-number,
.quiz-number-2
{
    color: white;
}

.quiz-number,
.quiz-number-2
{
    margin-bottom: 50px;
}

.next-btn,
.next-btn-2,
.give-up-btn,
.back-btn,
.submit-btn,
.submit-btn-2,
.easy-quiz-container,
.hard-quiz-container,
.results-container-easy,
.results-container-hard{
    display: none;
}

.user-name, 
.user-answer,
.user-answer-hard
{
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    margin-top: 10px;
    margin-bottom: 35px;
    text-align: center;
    font-size: 18px;
}

.user-name:focus,
.user-answer:focus,
.user-answer-hard:focus
{
    outline: none;
}

/* .text {
    margin-top: 40px;
    color: white;
} */

.user-name, 
.user-answer,
.user-answer-hard,
.start-easy-quiz-btn,
.start-hard-quiz-btn,
.check-btn,
.next-btn,
.next-btn-2,
.restart-btn,
.give-up-btn,
.hint-btn,
.back-btn,
.submit-btn,
.submit-btn-2
{
    padding: 6px 0;
    width: 200px;
}

.start-easy-quiz-btn,
.start-hard-quiz-btn,
.check-btn,
.next-btn,
.next-btn-2,
.give-up-btn
{
    box-shadow: inset 0 0 0 0 rgb(138, 0, 0);
    transition: ease-in 0.2s;
    border: none;
    font-family: Yanone Kaffeesatz;
    border-radius: 100px;
    /* font-weight: bolder; */
}

.submit-btn,
.submit-btn-2
{
    margin-top: 15%;
    box-shadow: inset 0 0 0 0 green;
    transition: ease-in 0.2s;
    border: none;
    font-family: Yanone Kaffeesatz;
    border-radius: 100px;
}

.restart-btn {
    margin-top: 30px;
    box-shadow: inset 0 0 0 0 green;
    transition: ease-in 0.2s;
    border: none;
    font-family: Yanone Kaffeesatz;
    border-radius: 100px;
}


.start-easy-quiz-btn:hover,
.start-hard-quiz-btn:hover,
.check-btn:hover,
.next-btn:hover,
.next-btn-2:hover,
.restart-btn:hover,
.give-up-btn:hover,
.back-btn:hover
{
    color: white;
    box-shadow: inset 200px 0 0 0 rgb(138, 0, 0);
}

.submit-btn:hover,
.submit-btn-2:hover,
.restart-btn:hover
{
    color: white;
    box-shadow: inset 200px 0 0 0 green;
}

.hint-btn {
    box-shadow: inset 0 0 0 0 yellow;
    transition: ease-in 0.2s;
    border: none;
    font-family: Yanone Kaffeesatz;
    border-radius: 100px;
}

.hint-btn:hover {
    color: black;
    box-shadow: inset 200px 0 0 0 yellow;
}

.start-easy-quiz-btn:focus,
.start-hard-quiz-btn:focus,
.check-btn:focus,
.next-btn:focus,
.next-btn-2:focus,
.restart-btn:focus,
.give-up-btn:focus,
.back-btn:focus,
.submit-btn:focus,
.submit-btn-2:focus
{
    box-shadow: inset 200px 0 0 0 rgb(138, 0, 0);
    outline: none;
    color: white;
}

.title,
.next-btn-2,
.submit-btn-2
{
    margin-bottom: 60px;
}
 
.question,
.quesiton-2 {
    margin-bottom: 5px;
}

.hint {
    transition: 0.5s opacity;
    color: white;
    margin-top: 15px;
}

.required-name,
.required-answer {
    font-size: 15px;
}

.exit-easy-quiz,
.exit-hard-quix
{
    font-size: 25px;
    transition: color 0.3s ease;
}

.exit-easy-quiz:hover,
.exit-hard-quiz:hover
{
    cursor: pointer;
    color: red;
}

.quiz-description {
    opacity: 0;
    transition: 0.5s opacity;
    font-weight: lighter;
    color: white;
}

.num-of-questions {
    font-weight: lighter;
    color: white;
}

.result-text, 
.result-text-hard,
.final-score
{
    color: white;
}

.results-easy-quiz {
    font-size: 50px;
}